<section class="[clip-path:ellipse(100%_60%_at_50%_40%)] overflow-hidden relative h-[400px]">
    <div class="relative h-full">
        <img src="./images/company-about.jpg" alt="blog-bg" class="absolute left-0 top-0 clip-path-[ellipse(80%_32%_at_50%_0%)] h-full w-full object-cover">
    </div>
    <div class="absolute inset-0 w-full h-full bg-[#00000080] z-[9] flex items-center justify-center">
        <h1 class="text-5xl font-semibold text-white">About Us</h1>
    </div>
</section>

<!-- About -->

<section class="lg:py-20 py-10 pt-0">
    <div class="container mx-auto px-3">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8">
            <div class="flex justify-left relative">
                <img src="./images/about.jpg" alt="about" class="w-[80%] overflow-hidden object-cover h-[500px] rounded-xl shadow-lg">
                <img src="./images/about.jpg" alt="about" class="w-[200px] overflow-hidden object-cover h-[220px] rounded-xl mt-auto mb-8 -ml-10 shadow-lg">
                <div class="w-[80px] h-[80px] bg-primary rounded-full flex justify-center items-center absolute bottom-[42%] right-[16%]">
                    <button><i class="fa-solid fa-play text-white"></i></button>
                </div>
            </div>
            <div class="flex flex-col gap-5 justify-center">
                <h4 class="lg:text-3xl text-2xl font-semibold lg:leading-12 text-title">Access to Learning <br> Anytime & Anyware</h4>
                <p class="text-md text-para text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quam neque facere corporis suscipit repellat omnis nihil reiciendis incidunt optio itaque, placeat voluptatum quod, facilis dignissimos. Temporibus sequi incidunt deserunt?</p>
                <ul class="grid grid-cols-2 gap-2 pl-5">
                    <li class="list-disc text-para">Flexible Timing</li>
                    <li class="list-disc text-para">Affordable</li>
                    <li class="list-disc text-para"> Easy Learning</li>
                    <li class="list-disc text-para"> World Class</li>
                </ul>
                <a href="##" class="px-5 py-2.5 bg-primary/20 rounded-md text-primary w-fit hover:bg-primary duration-300 hover:text-white">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="lg:py-20 py-10">
    <div class="container mx-auto px-3">
        <div class="lg:w-4xl text-center mx-auto mb-10" >
            <h2 class="lg:text-3xl text-2xl font-semibold mb-2 text-title">Lorem, ipsum dolor.</h2>
            <p class="text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste ea nemo recusandae reprehenderit, sint deleniti assumenda obcaecati consectetur</p>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-5">
            <div class="shadow-lg rounded-lg p-6 relative overflow-hidden group">
                <div class="absolute -bottom-5 -left-5 w-0 h-0 rounded-full bg-gradient-to-l from-primary to-primary2 group-hover:w-full group-hover:h-full group-hover:scale-[2] z-[-1] group-hover:duration-400"></div>
                <div class="bg-primary/10 group-hover:bg-white shadow-lg w-16 h-16 flex items-center justify-center rounded-lg text-primary text-xl mb-5">
                    <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <h4 class="text-xl font-semibold mb-5 text-title group-hover:text-white">elaxing & Learning</h4>
                <p class="text-para mb-5 text-sm group-hover:text-white">The phrasal sequence of the is now so that many campaign and benefit</p>
                <a href="##" class="text-sm group-hover:text-primary relative overflow-hidden p-2 font-medium">
                    Read More<i class="fa-solid fa-arrow-right ml-1"></i>
                    <div class="w-full h-full absolute left-0 bottom-[-30px] opacity-0 bg-white group-hover:opacity-100 group-hover:bottom-0 group-hover:duration-700 z-[-1] rounded-md shadow-lg"></div>
                </a>
            </div>
            <div class="shadow-lg rounded-lg p-6 relative overflow-hidden group">
                <div class="absolute -bottom-5 -left-5 w-0 h-0 rounded-full bg-gradient-to-l from-primary to-primary2 group-hover:w-full group-hover:h-full group-hover:scale-[2] z-[-1] group-hover:duration-400"></div>
                <div class="bg-primary/10 group-hover:bg-white shadow-lg w-16 h-16 flex items-center justify-center rounded-lg text-primary text-xl mb-5">
                    <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <h4 class="text-xl font-semibold mb-5 text-title group-hover:text-white">elaxing & Learning</h4>
                <p class="text-para mb-5 text-sm group-hover:text-white">The phrasal sequence of the is now so that many campaign and benefit</p>
                <a href="##" class="text-sm group-hover:text-primary relative overflow-hidden p-2 font-medium">
                    Read More<i class="fa-solid fa-arrow-right ml-1"></i>
                    <div class="w-full h-full absolute left-0 bottom-[-30px] opacity-0 bg-white group-hover:opacity-100 group-hover:bottom-0 group-hover:duration-700 z-[-1] rounded-md shadow-lg"></div>
                </a>
            </div>
            <div class="shadow-lg rounded-lg p-6 relative overflow-hidden group">
                <div class="absolute -bottom-5 -left-5 w-0 h-0 rounded-full bg-gradient-to-l from-primary to-primary2 group-hover:w-full group-hover:h-full group-hover:scale-[2] z-[-1] group-hover:duration-400"></div>
                <div class="bg-primary/10 group-hover:bg-white shadow-lg w-16 h-16 flex items-center justify-center rounded-lg text-primary text-xl mb-5">
                    <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <h4 class="text-xl font-semibold mb-5 text-title group-hover:text-white">elaxing & Learning</h4>
                <p class="text-para mb-5 text-sm group-hover:text-white">The phrasal sequence of the is now so that many campaign and benefit</p>
                <a href="##" class="text-sm group-hover:text-primary relative overflow-hidden p-2 font-medium">
                    Read More<i class="fa-solid fa-arrow-right ml-1"></i>
                    <div class="w-full h-full absolute left-0 bottom-[-30px] opacity-0 bg-white group-hover:opacity-100 group-hover:bottom-0 group-hover:duration-700 z-[-1] rounded-md shadow-lg"></div>
                </a>
            </div>
            <div class="shadow-lg rounded-lg p-6 relative overflow-hidden group">
                <div class="absolute -bottom-5 -left-5 w-0 h-0 rounded-full bg-gradient-to-l from-primary to-primary2 group-hover:w-full group-hover:h-full group-hover:scale-[2] z-[-1] group-hover:duration-400"></div>
                <div class="bg-primary/10 group-hover:bg-white shadow-lg w-16 h-16 flex items-center justify-center rounded-lg text-primary text-xl mb-5">
                    <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <h4 class="text-xl font-semibold mb-5 text-title group-hover:text-white">elaxing & Learning</h4>
                <p class="text-para mb-5 text-sm group-hover:text-white">The phrasal sequence of the is now so that many campaign and benefit</p>
                <a href="##" class="text-sm group-hover:text-primary relative overflow-hidden p-2 font-medium">
                    Read More<i class="fa-solid fa-arrow-right ml-1"></i>
                    <div class="w-full h-full absolute left-0 bottom-[-30px] opacity-0 bg-white group-hover:opacity-100 group-hover:bottom-0 group-hover:duration-700 z-[-1] rounded-md shadow-lg"></div>
                </a>
            </div>
        </div>
    </div>
</section>
