<Footer class="py-16 bg-[#0F172A]">
    <div class="container m-auto px-3">
        <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-1 gap-10">
            <div class="col-span-2 text-white">
                <h2 class="text-lg mb-4">Lurnix</h2>
                <p class="text-sm mb-4 font-thin leading-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut
                    corrupti quae, molestiae ex deleniti saepe minus consequuntur quibusdam doloribus nostrum?</p>
                <ul>
                    <li class="flex gap-2 items-center mb-2 text-sm">
                        <i class="fa-solid fa-location-dot text-primary"></i>
                        <p>C/54 Northwest Freeway, Houston, USA 485</p>
                    </li>
                    <li class="flex gap-2 items-center">
                        <a href="##" class="text-sm">
                            <i class="fa-solid fa-phone-volume text-primary"></i>
                            +91 i3893798398
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-white">
                <h4 class="text-xl font-semibold mb-4">Usefull Links</h4>
                <ul class="flex flex-col gap-2">
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                </ul>
            </div>
            <div class="text-white">
                <h4 class="text-xl font-semibold mb-4">Usefull Links</h4>
                <ul class="flex flex-col gap-2">
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                    <li class="text-sm"><a href=""><i
                                class="fa-solid fa-angle-right text-gray-400 text-xs mr-2"></i>Course</a>
                    </li>
                </ul>
            </div>
            <div class="col-span-2 text-white">
                <h4 class="text-xl font-semibold mb-4">Usefull Links</h4>
                <div class="">

                </div>
                <ul>
                    <li><a href="##"></a></li>
                </ul>
            </div>
        </div>
    </div>
</Footer>
<section class="py-6 bg-[#0F172A] border-t border-t-gray-800">
    <div class="container m-auto px-3">
        <div class="flex flex-wrap lg:justify-between justify-center items-center gap-4">
            <p class="text-white font-normal text-sm text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, natus.</p>
            <ul class="flex items-center gap-10">
                <li class="list-disc text-white"><a href="##" class="text-sm">ccds</a></li>
                <li class="list-disc text-white"><a href="##" class="text-sm">fd</a></li>
                <li class="list-disc text-white"><a href="##" class="text-sm">sdsd</a></li>
            </ul>
        </div>
    </div>
</section>