<section class="overflow-hidden bg-[#F8F5FE] bg-[url('/images/bg-back.png')] bg-cover bg-center lg:py-0 py-28">
    <div class="container mx-auto px-3 h-full">
        <div class="grid lg:grid-cols-2 grid-cols-1 h-full">
            <div class="flex flex-col gap-3 h-full justify-center pr-10">
                <h1 class="lg:text-[50px] md:text-5xl text-4xl font-semibold lg:leading-22 md:leading-20 leading-16">Best <span class="relative 
                    before:content-[''] before:absolute before:inset-0 py-4 px-3 before:-skew-x-9 before:-rotate-8
                    before:bg-gradient-to-l before:from-primary before:to-primary2">
                        <span class="relative z-10 text-white">Online</span>
                    </span> Courses From <strong class="font-bold">Edupath</strong></h1>
                <p class="text-lg font-medium text-gray-400">Discover a world of knowledge and opportunities with our
                    online education platform
                    pursue a new career.</p>
                <button type="button"
                    class="bg-primary py-3 px-6 font-medium rounded-lg mt-6 w-fit text-white cursor-pointer text-md">View
                    Courses<i class="fa-solid fa-arrow-right ml-2"></i></button>
            </div>
            <div class="relative lg:ms-8">
                <div class="inset-[50%] translate-[-50%]"></div>
                <div
                    class="lg:w-[500px] w-[400px] lg:h-[500px] h-[400px] rounded-full absolute inset-[50%] translate-[-50%] z-[-1] bg-gradient-to-l from-primary to-primary2">
                </div>
                <img src="./images/banner-img.png" alt="banner" class="max-w-[85%] m-auto h-auto">
                <div class="absolute lg:top-[30%] top-[20%] right-5 shadow-lg rounded-lg bg-white flex gap-4 items-center p-4 mover">
                    <div class="w-14 h-14 flex items-center justify-center bg-primary/10 rounded-full">
                        <i class="fa-solid fa-display text-xl text-primary"></i>
                    </div>
                    <div class="">
                        <p class="text-md text-gray-400">Online Course</p>
                        <h5 class="text-xl font-semibold">100+</h5>
                    </div>
                </div>
                <div
                    class="absolute bottom-[10%] left-5 shadow-lg rounded-lg bg-white gap-2 p-5 mover2 flex flex-col pr-14">
                    <h5 class="text-lg font-semibold">Our Instrunctors</h5>
                    <ul class="flex items-center">
                        <li class="ml-[-12px] w-9 h-9 bg-white rounded-full p-[4px] flex items-center justify-center">
                            <img src="./images/profile.jpg" alt="profile" class="w-full h-full object-contain rounded-full">
                        </li>
                        <li class="ml-[-12px] w-9 h-9 bg-white rounded-full p-[4px] flex items-center justify-center">
                            <img src="./images/profile.jpg" alt="profile" class="w-full h-full object-contain rounded-full">
                        </li>
                        <li class="ml-[-12px] w-9 h-9 bg-white rounded-full p-[4px] flex items-center justify-center">
                            <img src="./images/profile.jpg" alt="profile" class="w-full h-full object-contain rounded-full">
                        </li>
                        <li class="ml-[-12px] w-9 h-9 bg-white rounded-full p-[4px] flex items-center justify-center">
                            <img src="./images/profile.jpg" alt="profile" class="w-full h-full object-contain rounded-full">
                        </li>
                        <li class="ml-[-12px] w-9 h-9 bg-white rounded-full p-[4px] flex items-center justify-center">
                            <img src="./images/profile.jpg" alt="profile" class="w-full h-full object-contain rounded-full">
                        </li>
                        <li class="ml-[-12px] w-9 h-9 bg-primary text-white rounded-full p-[4px] flex items-center justify-center">
                            <i class="fa-solid fa-plus"></i>
                        </li>
                    </ul>
                </div>
                <div class="w-[45px] h-[45px] rounded-lg bg-primary/20 absolute left-0 -top-5 spin"></div>
            </div>
        </div>
    </div>
</section>
<section class="lg:py-20 py-10 pt-0">
    <div class="container mx-auto px-3">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-y-8">
            <div class="flex justify-center relative">
                <img src="./images/about.jpg" alt="about" class="w-[350px] overflow-hidden object-cover h-[500px] rounded-xl">
                <img src="./images/about.jpg" alt="about" class="w-[200px] overflow-hidden object-cover h-[220px] rounded-xl mt-auto mb-8 -ml-10">
                <div class="w-[80px] h-[80px] bg-primary rounded-full flex justify-center items-center absolute bottom-[42%] right-[28%]">
                    <button><i class="fa-solid fa-play text-white"></i></button>
                </div>
            </div>
            <div class="pr-10 flex flex-col gap-5 justify-center">
                <h4 class="text-3xl font-semibold lg:leading-12 text-title">Access to Learning <br> Anytime & Anyware</h4>
                <p class="text-md text-para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quam neque facere corporis suscipit repellat omnis nihil reiciendis incidunt optio itaque, placeat voluptatum quod, facilis dignissimos. Temporibus sequi incidunt deserunt?</p>
                <ul class="grid grid-cols-2 gap-2 pl-5">
                    <li class="list-disc text-para">Flexible Timing</li>
                    <li class="list-disc text-para">Affordable</li>
                    <li class="list-disc text-para"> Easy Learning</li>
                    <li class="list-disc text-para"> World Class</li>
                </ul>
                <a href="##" class="px-5 py-2.5 bg-primary/20 rounded-md text-primary w-fit">Learn More <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="lg:py-20 py-10">
    <div class="container mx-auto px-3">
        <div class="w-4xl text-center mx-auto mb-10">
            <h2 class="text-3xl font-semibold mb-2 text-title">Lorem, ipsum dolor.</h2>
            <p class="text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste ea nemo recusandae reprehenderit, sint deleniti assumenda obcaecati consectetur</p>
        </div>
        <div class="grid grid-cols-4 gap-5">
            <div class="shadow-lg rounded-lg p-6">
                <div class="">
                    <i class="fa-regular fa-thumbs-up"></i>
                </div>
                <h4>elaxing & Learning</h4>
                <p>The phrasal sequence of the is now so that many campaign and benefit</p>
                <a href="##">Read More<i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>