<section class="[clip-path:ellipse(100%_60%_at_50%_40%)] overflow-hidden relative h-[400px]">
    <div class="relative">
        <img src="./images/company-about.jpg" alt="blog-bg" class="absolute left-0 top-0 clip-path-[ellipse(80%_32%_at_50%_0%)]">
    </div>
    <div class="absolute inset-0 w-full h-full bg-[#00000080] z-[9] flex items-center justify-center">
        <h1 class="text-5xl font-semibold text-white">Blog & News</h1>
    </div>
</section>
<!-- Our Blog -->

<section class="lg:py-20 py-10">
    <div class="container mx-auto px-3">
        <div class="lg:w-4xl text-center mx-auto mb-10" >
            <h2 class="lg:text-3xl text-2xl font-semibold mb-2 text-title">Blogs or News</h2>
            <p class="text-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste ea nemo recusandae reprehenderit, sint deleniti assumenda obcaecati consectetur</p>
        </div>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">
            <div class="shadow-lg rounded-lg">
                <div class="relative">
                    <div class="relative overflow-hidden">
                        <img src="./images/about.jpg" alt="" class="rounded-tl-xl rounded-tr-xl">
                        <div class="flex items-center gap-2 absolute bottom-0 left-0 p-4">
                            <span class="block px-3 py-1 text-white rounded-md bg-primary text-xs">Degree</span>
                        </div>
                    </div>
                </div>
                <div class="px-7 py-6 flex flex-col gap-3">
                    <ul class="flex justify-between gap-3">
                        <li class="text-para text-sm"><i class="fa-regular fa-calendar"></i> 13th Sep 25</li>
                        <li class="text-para text-sm"><i class="fa-regular fa-clock"></i> 5 Min</li>
                    </ul>
                    <h4 class="text-xl font-medium text-title">The Ultimate Course Bundle</h4>
                    <div class="flex mt-1">
                        <a href="##" class="text-sm cursor-pointer">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-lg">
                <div class="relative">
                    <div class="relative overflow-hidden">
                        <img src="./images/about.jpg" alt="" class="rounded-tl-xl rounded-tr-xl">
                        <div class="flex items-center gap-2 absolute bottom-0 left-0 p-4">
                            <span class="block px-3 py-1 text-white rounded-md bg-primary text-xs">Degree</span>
                        </div>
                    </div>
                </div>
                <div class="px-7 py-6 flex flex-col gap-3">
                    <ul class="flex justify-between gap-3">
                        <li class="text-para text-sm"><i class="fa-regular fa-calendar"></i> 13th Sep 25</li>
                        <li class="text-para text-sm"><i class="fa-regular fa-clock"></i> 5 Min</li>
                    </ul>
                    <h4 class="text-xl font-medium text-title">The Ultimate Course Bundle</h4>
                    <div class="flex mt-1">
                        <a href="##" class="text-sm cursor-pointer">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-lg">
                <div class="relative">
                    <div class="relative overflow-hidden">
                        <img src="./images/about.jpg" alt="" class="rounded-tl-xl rounded-tr-xl">
                        <div class="flex items-center gap-2 absolute bottom-0 left-0 p-4">
                            <span class="block px-3 py-1 text-white rounded-md bg-primary text-xs">Degree</span>
                        </div>
                    </div>
                </div>
                <div class="px-7 py-6 flex flex-col gap-3">
                    <ul class="flex justify-between gap-3">
                        <li class="text-para text-sm"><i class="fa-regular fa-calendar"></i> 13th Sep 25</li>
                        <li class="text-para text-sm"><i class="fa-regular fa-clock"></i> 5 Min</li>
                    </ul>
                    <h4 class="text-xl font-medium text-title">The Ultimate Course Bundle</h4>
                    <div class="flex mt-1">
                        <a href="##" class="text-sm cursor-pointer">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-lg">
                <div class="relative">
                    <div class="relative overflow-hidden">
                        <img src="./images/about.jpg" alt="" class="rounded-tl-xl rounded-tr-xl">
                        <div class="flex items-center gap-2 absolute bottom-0 left-0 p-4">
                            <span class="block px-3 py-1 text-white rounded-md bg-primary text-xs">Degree</span>
                        </div>
                    </div>
                </div>
                <div class="px-7 py-6 flex flex-col gap-3">
                    <ul class="flex justify-between gap-3">
                        <li class="text-para text-sm"><i class="fa-regular fa-calendar"></i> 13th Sep 25</li>
                        <li class="text-para text-sm"><i class="fa-regular fa-clock"></i> 5 Min</li>
                    </ul>
                    <h4 class="text-xl font-medium text-title">The Ultimate Course Bundle</h4>
                    <div class="flex mt-1">
                        <a href="##" class="text-sm cursor-pointer">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-lg">
                <div class="relative">
                    <div class="relative overflow-hidden">
                        <img src="./images/about.jpg" alt="" class="rounded-tl-xl rounded-tr-xl">
                        <div class="flex items-center gap-2 absolute bottom-0 left-0 p-4">
                            <span class="block px-3 py-1 text-white rounded-md bg-primary text-xs">Degree</span>
                        </div>
                    </div>
                </div>
                <div class="px-7 py-6 flex flex-col gap-3">
                    <ul class="flex justify-between gap-3">
                        <li class="text-para text-sm"><i class="fa-regular fa-calendar"></i> 13th Sep 25</li>
                        <li class="text-para text-sm"><i class="fa-regular fa-clock"></i> 5 Min</li>
                    </ul>
                    <h4 class="text-xl font-medium text-title">The Ultimate Course Bundle</h4>
                    <div class="flex mt-1">
                        <a href="##" class="text-sm cursor-pointer">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-lg">
                <div class="relative">
                    <div class="relative overflow-hidden">
                        <img src="./images/about.jpg" alt="" class="rounded-tl-xl rounded-tr-xl">
                        <div class="flex items-center gap-2 absolute bottom-0 left-0 p-4">
                            <span class="block px-3 py-1 text-white rounded-md bg-primary text-xs">Degree</span>
                        </div>
                    </div>
                </div>
                <div class="px-7 py-6 flex flex-col gap-3">
                    <ul class="flex justify-between gap-3">
                        <li class="text-para text-sm"><i class="fa-regular fa-calendar"></i> 13th Sep 25</li>
                        <li class="text-para text-sm"><i class="fa-regular fa-clock"></i> 5 Min</li>
                    </ul>
                    <h4 class="text-xl font-medium text-title">The Ultimate Course Bundle</h4>
                    <div class="flex mt-1">
                        <a href="##" class="text-sm cursor-pointer">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
